@model List<ECommerceViewModel.Datum>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table table-bordered">
        <br />
        <tr>
            <th>#</th>
            <th>Ürün Başlığı</th>
            <th>Ürün Puanı</th>
            <th>Ürün Fıyatı</th>
            <th>Ürün Detayları</th>
        </tr>
        @foreach (var item in Model)
        {
         <tr>
                <td>@item.product_id</td>
                <td>@item.product_title</td>
                <td>@item.product_rating</td>
              <td>@(item.typical_price_range is not null? item.typical_price_range.GetValue(0) :"£ 0.00")</td>
                <td><a href="@item.product_page_url">Ürün Detayları</a></td>

         </tr>   
        }
    </table>
</div>
