
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #3498db;">
                <div class="media-icon pull-left">
                    <i class="fa fa-list" aria-hidden="true"></i>
                </div>
                <div class="media-info">
                    <h5>Toplam Marka</h5>
                    <h3>@ViewBag.getBrandCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #2ecc71;">
                <div class="media-icon pull-left"><i class="fa fa-list-alt"></i></div>
                <div class="media-info">
                    <h5>Toplam Ürün</h5>
                    <h3>@ViewBag.getProductCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #e67e22;">
                <div class="media-icon pull-left"><i class="fa fa-th"></i></div>
                <div class="media-info">
                    <h5>Toplam Kategori</h5>
                    <h3>@ViewBag.getCategoryCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #e74c3c;">
                <div class="media-icon pull-left"><i class="fa fa-money"></i></div>
                <div class="media-info">
                    <h5>Ortalama Ürün Fiyatı</h5>
                    <h3>254.38 ₺</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #9b59b6;">
                <div class="media-icon pull-left"><i class="fa fa-eur"></i></div>
                <div class="media-info">
                    <h5>En Pahalı Ürün</h5>
                    <h3>@ViewBag.getMaxPriceProductName</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #1abc9c;">
                <div class="media-icon pull-left"><i class="fa fa-try"></i></div>
                <div class="media-info">
                    <h5>En Ucuz Ürün</h5>
                    <h3>@ViewBag.getMinPriceProductName</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #f39c12;">
                <div class="media-icon pull-left"><i class="fa fa-plus"></i></div>
                <div class="media-info">
                    <h5>Toplam Kullanıcı</h5>
                    <h3>@ViewBag.getUserCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #d35400;">
                <div class="media-icon pull-left"><i class="fa fa-comments"></i></div>
                <div class="media-info">
                    <h5>Toplam Yorum</h5>
                    <h3>@ViewBag.getTotalCommentCount</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #34495e;">
                <div class="media-icon pull-left"><i class="fa fa-comment"></i></div>
                <div class="media-info">
                    <h5>Aktif Yorum</h5>
                    <h3>@ViewBag.getActiveCommentCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #16a085;">
                <div class="media-icon pull-left"><i class="fa fa-comment"></i></div>
                <div class="media-info">
                    <h5>Pasif Yorum</h5>
                    <h3>@ViewBag.getPassiveCommentCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #27ae60;">
                <div class="media-icon pull-left"><i class="fa fa-check-square"></i></div>
                <div class="media-info">
                    <h5>İndirim Kuponu Sayısı</h5>
                    <h3>@ViewBag.getDiscountCouponCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #8e44ad;">
                <div class="media-icon pull-left"><i class="fa fa-envelope-open"></i></div>
                <div class="media-info">
                    <h5>Toplam Mesaj Sayısı</h5>
                    <h3>@ViewBag.getMessageTotalCount</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Son satır renkleri -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #c0392b;">
                <div class="media-icon pull-left"><i class="fa fa-image"></i></div>
                <div class="media-info">
                    <h5>Toplam Görsel Sayısı</h5>
                    <h3>246</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #2980b9;">
                <div class="media-icon pull-left"><i class="fa fa-suitcase"></i></div>
                <div class="media-info">
                    <h5>Kasadaki Toplam Tutar</h5>
                    <h3>48.987,35 ₺</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #e74c3c;">
                <div class="media-icon pull-left"><i class="fa fa-briefcase"></i></div>
                <div class="media-info">
                    <h5>Bugünkü Satış</h5>
                    <h3>14268.48 ₺</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box" style="background-color: #f1c40f;">
                <div class="media-icon pull-left"><i class="fa fa-square"></i></div>
                <div class="media-info">
                    <h5>Son Satış Tutarı</h5>
                    <h3>591.00 ₺</h3>
                </div>
            </div>
        </div>
    </div>
</section>

