 @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="container-fluid bg-dark mb-30">

    <div class="row px-xl-5">

        <div class="col-lg-3 d-none d-lg-block">

            <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">

                <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>@localizer["Kategoriler"]</h6>

                <i class="fa fa-angle-down text-dark"></i>

            </a>

            @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

        </div>

        <div class="col-lg-9">

            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">

                <a href="#" class="text-decoration-none d-block d-lg-none">

                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>

                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>

                </a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

                    <div class="navbar-nav mr-auto py-0">

                        <a href="/Default/Index/" class="nav-item nav-link">@localizer["Anasayfa"]</a>

                        <a href="/ProductList/Index/" class="nav-item nav-link">@localizer["Ürünler"]</a>

                        <a href="#" class="nav-item nav-link">@localizer["Ürün Detayları"]</a>

                        <a href="#" class="nav-item nav-link">@localizer["Günün Fırsatı"]</a>

                        <div class="nav-item dropdown">

                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@localizer["Sayfalar"] <i class="fa fa-angle-down mt-1"></i></a>

                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">

                                <a href="/ShoppingCard/Index/" class="dropdown-item">@localizer["Sepetim"]</a>

                                <a href="/Payment/Index/" class="dropdown-item">@localizer["Ödeme"]</a>

                                <a href="/Register/Index/" class="dropdown-item">@localizer["Kayıt Ol"]</a>

                                <a href="/Login/Index/" class="dropdown-item">@localizer["Giriş Yap"]</a>

                            </div>

                        </div>

                        <a href="/Contact/Index/" class="nav-item nav-link">@localizer["İletişim"]</a>

                    </div>

                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">

                        <a href="#" class="btn px-0">

                            <i class="fas fa-heart text-primary"></i>

                            <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>

                        </a>

                        <a href="/ShoppingCard/Index/" class="btn px-0 ml-3">

                            <i class="fas fa-shopping-cart text-primary"></i>

                            <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>

                        </a>

                    </div>

                </div>

            </nav>

        </div>

    </div>

</div>

<script>

    (function () {

        let culture = location.href.split('=')[1];

        if (culture !== undefined) {

            var menuItems = document.querySelectorAll('.navbar-nav a')

            for (var i = 0, len = menuItems.length; i < len; i++) {

                menuItems[i].href += "?culture=" + culture;

            }

        }

    })();

</script>