@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="container-fluid">

    <div class="row bg-secondary py-1 px-xl-5">

        <div class="col-lg-12 text-center text-lg-right">

            <div class="d-flex align-items-center justify-content-end">

              @*   @await Component.InvokeAsync("_TopbarUILayoutComponentPartial") @* currencies coming from api *@ 

                <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@localizer["Hesabım"]</button>

                    <div class="dropdown-menu dropdown-menu-right">

                        <button class="dropdown-item" type="button">@localizer["Giriş Yap"]</button>

                        <button class="dropdown-item" type="button">@localizer["Kayıt Ol"]</button>

                    </div>

                </div>

                <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" id="mlink"></button>

                    <div class="dropdown-menu dropdown-menu-right text-center">

                        <button class="dropdown-item" onclick="language('tr')" id="tr"><img src="~/images/flags/tr.gif" class="rounded-circle" style="width:25px" /> TR</button>

                        <button class="dropdown-item" onclick="language('en')" id="en"><img src="~/images/flags/us.gif" class="rounded-circle" style="width:25px" /> EN</button>

                        <button class="dropdown-item" onclick="language('de')" id="de"><img src="~/images/flags/de.gif" class="rounded-circle" style="width:25px" /> DE</button>

                        <button class="dropdown-item" onclick="language('fr')" id="fr"><img src="~/images/flags/fr.gif" class="rounded-circle" style="width:25px" /> FR</button>

                        <button class="dropdown-item" onclick="language('it')" id="it"><img src="~/images/flags/it.gif" class="rounded-circle" style="width:25px" /> IT</button>

                    </div>

                </div>

            </div>

            <div class="d-inline-flex align-items-center d-block d-lg-none">

                <a href="" class="btn px-0 ml-2">

                    <i class="fas fa-heart text-dark"></i>

                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>

                </a>

                <a href="" class="btn px-0 ml-2">

                    <i class="fas fa-shopping-cart text-dark"></i>

                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>

                </a>

            </div>

        </div>

    </div>

    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">

        <div class="col-lg-4">

            <a href="#" class="text-decoration-none">

                <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>

                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>

            </a>

        </div>

        <div class="col-lg-4 col-6 text-left">

            <form action="">

                <div class="input-group">

                    <input type="text" class="form-control" placeholder="@localizer["Ürün Arayın"]...">

                    <div class="input-group-append">

                        <span class="input-group-text bg-transparent text-primary">

                            <i class="fa fa-search"></i>

                        </span>

                    </div>

                </div>

            </form>

        </div>

        <div class="col-lg-4 col-6 text-right">

            <p class="m-0">@localizer["Müşteri Hizmetleri"]</p>

            <h5 class="m-0">+90(123) 345 67 89</h5>

        </div>

    </div>

</div>

<script>

    let control = location.href.split('=')[1];

    if (control === undefined) {

        document.getElementById("mlink").innerHTML = '<img src="/images/flags/tr.gif" class="rounded-circle" style="width:25px" />' + " TR";

    }

    else {

        let lng = document.getElementById(control).innerHTML;

        document.getElementById("mlink").innerHTML = lng;

    }

    function language(cl) {

        let url = window.location.href

        let culture = location.href.split('=')[1];

        if (culture === undefined) {

            window.location.href = url + "?culture=" + cl;

        }

        else if (cl !== culture) {

            var h = window.location.href.split('?')[0]

            window.location.href = h + "?culture=" + cl;

        }

    };

</script>
