@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@localizer["Merhaba"]  @localizer["Bugün"] @localizer["Hava"] @localizer["Çok"] @localizer["Sıcak"] siz nasıl burada rahtça oturuyorsunuz. Çünkü bu sıcak havada sadece denize girilir.Sıcak hava bugün iyice arttı. Hava durumu şu and 30 derecenin üstünde yani çok çok sıcak</h1>

