@model List<ResultImageDto>
@{
    ViewData["Title"] = "Cloud Resimler";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <div id="example_filter" class="dataTables_filter pull-right">
                <input class="form-control" id="placeholderInput" placeholder="Ara" type="text">
            </div>
            <table class="table table-responsive">
                @{
                    int count = 0;
                }
                <thead>
                    <tr>
                        <th class="sortable">#</th>
                        <th class="sortable">Resim Başlığı</th>
                        <th class="sortable">Resim</th>
                        <th class="sortable">İşlemler</th>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    count++;

                    <tr>
                        <td class="text-truncate">@count</td>
                        <td>@item.Title</td>
                        <td class="text-truncate"><img src="@item.SignedUrl" style="width:100px;height:100px" /> </td>
                      

                        <td class="text-truncate">
                            <a class="btn btn-outline btn-rounded btn-danger" asp-action="DeleteImage" asp-route-id="@item.Id"><i class="fa fa-trash"></i> Sil</a>
                            <a class="btn btn-outline btn-rounded btn-info" asp-action="UpdateImage" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> Güncelle</a>
                        </td>
                    </tr>
                }

            </table>
            <a class="btn btn-outline btn-rounded btn-primary" asp-action="CreateImage" asp-controller="ImageUpload" asp-area="Admin">Yeni Resim Yükle</a>
        </div>
    </div>
</div>